body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.year {
  font-size: 5em;
  color: white;
  font-weight: bold;
}

.countdown {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  color: white;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown div {
  margin: 0 15px;
  font-size: 2.5em;
  font-weight: 500;
  margin-top: -25px;
  text-align: center;
  width: 100px;
}

.countdown div::before {
  content: "";
  display: block;
  margin-top: 5px; /* Anpassen Sie den Wert, um den Abstand zu steuern */
  font-size: 0.35em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  width: 100%;
  text-align: center; /* Zentriert den Text horizontal */
}

.countdown #day::before {
  content: "Days";
}
.countdown #hour::before {
  content: "Hours";
}
.countdown #minute::before {
  content: "Minutes";
}
.countdown #second::before {
  content: "Seconds";
}
